.global-loading {
    padding: 6px 14px 6px 14px !important;
    width: 175px !important;
}

.global-loading .el-notification__icon {
    margin-top: 5px !important;
}

.global-loading .el-notification__content p:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0;
}

@keyframes ellipsis {
    to {
        width: 20px;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;
    }
}